<nav>
<a href="/" class="btn btn-primary btn-sm ">Inicio</a>
<a href="/realtimeproducts" class="btn btn-primary btn-sm ">Editar Stock</a>
</nav>

<h1 class="titulos">Chat</h1>

<main class="container">

<div class="containerLeft">

  <h2 id="conectados-titulo">Usuarios conectados: </h2>
  <ul id="conectados"></ul>
  <p id="numero-usuarios"></p>

</div>

<div class="containerRight">
<div id="contenedor-chat">
</div>
<div class="message">
  <label for="">Ingresa un mensaje: </label>
  <input id="send" type="text" />
</div>
</div>

</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="/js/chat.js"></script>

